$mainColor: #35375e;
$profileColor: #fade9e;
$colorBlack: #000000;
$colorHeader: #515151;
$secondColor: #5b72e0;
$serviceColor: #ea756d;
$thirdColor: #5cba96;
$portfolioColor: #dc4518;
$fourthColor: #119d85;
$contactColor: #fbe1d6;
$pageColor: #f6f5f5;

// $color: #ea756dab;

@mixin text {
  position: absolute;
  z-index: 10;
  letter-spacing: 0.07em;
  text-align: center;
  top: 62%;
  left: 50%;
  width: 100%;
  // transform: translate(-50%, -50%);
}
@mixin btn {
  border: 2px solid $mainColor;
  padding: 8px;
  border-radius: 50%;
  transition: 1s;
}
@mixin btn-position {
  position: absolute;
  width: 525px;
  display: flex;
  justify-content: center;
}
@mixin line {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
@mixin portfolio {
  position: absolute;
  content: "";
  width: 550px;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: change-circle 15s linear infinite;
}
@mixin svg-bg {
  height: 550px;
  width: 35%;
  position: relative;
  opacity: 0;
  animation: fadein-bottom 1.5s 2s ease-out forwards;
}
@mixin svg {
  position: absolute;
  content: "";
  top: 0;
  z-index: 2;
  animation: color-change 30s linear infinite;
  transform: scaleX(1.2);
}
@mixin font {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
}
@mixin modalArea {
    display: none;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
@mixin modalBg {
  width: 100%;
  height: 100vh;
  background-color: rgba(107, 107, 107, 0.9);
}
@mixin modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 100vh;
  padding: 10px 30px;
  color: #fff;
  background-color: $mainColor;
  border-radius: 10px;
  opacity: 0.9;
}
@mixin closeModal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 40px;
  cursor: pointer;
}
@mixin box-title {
  position: absolute;
  content: "";
  border-radius: 50%;
}
@mixin line-before {
  position: absolute;
  content: "";
  background-color: $mainColor;
  height: 2px;
  bottom: 20px;
  width: 73%;
}

.circle {
  max-width: 100%;
  height: 100vh;
  color: #ffffff;
  // background-color: #f6f5f5;
  margin: 0 auto;
  font-size: 16px;
  box-sizing: border-box;
  font-family: anisette-std, sans-serif;
  // font-family: anisette-std, sans-serif;
  // font-family: Anisette, sans-serif;

  // font-family: "Bowlby One SC", cursive;
  // justify-content: center;
  // align-items: center;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px 0;
  width: 100%;
  box-sizing: border-box;
  &-logo {
    width: 15%;
    filter: brightness(0) invert(1);
  }
}
.section {
  .swiper-container {
    width: 100%;
    height: 100vh;
  }
  .swiper-slide {
    text-align: center;
    padding-top: 80px;
    position: relative;
    &:nth-child(1) {
      background: $mainColor;
    }
    &:nth-child(2) {
      background: $secondColor;
    }
    &:nth-child(3) {
      background: $thirdColor;
    }
    &:nth-child(4) {
      background: $fourthColor;
    }
    h2 {
      @include text;
      font-size: 80px;
      transform: translate(-50%, -50%);
      z-index: 10;
      font-weight: bold;
      letter-spacing: 0.01rem;
      // top: 100%;
      // left: 100%;
      // transition: all cubic-bezier(.66, .51, 02, .98) 2s;
    }
    .img {
      position: absolute;
      content: "";
      left: 50%;
      top: 20%;
      transform: translateX(-50%);
      z-index: 8;
      width: 380px;
      height: 300px;
      transition: 0.3s;
      // &:hover + .svg {
      //   transition: 0.3s;
      //   transform: scale(1.55);
      // }
    }
    .png2 {
      top: 17%;
    }
    .png3 {
      top: 15%;
    }
    .png4 {
      padding-top: 50px;
    }
    span {
      position: absolute;
      content: "";
      width: 25%;
      top: 68%;
      left: 50%;
      z-index: 10;
      transform: translateX(-50%);
      margin: 0 auto;
      border-bottom: 5px solid #fff;
      z-index: 10;
    }
    h3 {
      @include text;
      font-size: 24px;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      @include font;
      letter-spacing: 0.012rem;
    }
    .svg {
      transform: scale(1.35);
      padding: 0px 10px 15px 30px;
      transition: all 0.3s;
      z-index: 3;
      &:hover {
        transition: all 0.3s;
        transform: scale(1.5);
      }
    }
    .contact {
      cursor: pointer;
    }
  }
  .swiper-pagination {
    bottom: 50px !important;
    z-index: 20;
    .swiper-pagination-bullet {
      position: relative;
      width: auto;
      height: auto;
      border-radius: 0;
      opacity: 1;
      color: #fff;
      background-color: transparent;
      font-size: 20px;
      font-weight: 500;
      margin: 0 50px !important;
      // padding-: 30px 0;
      &::before {
        @include line;
        opacity: 0.5;
      }
      &::after {
        @include line;
        width: 0;
      }
      &.swiper-pagination-bullet-active {
        &:after {
          width: 100%;
          animation: paginationLine 5s linear;
        }
      }
    }
  }
  .modalArea {
    @include font;
    // font-family: wanpaku-ruika, sans-serif;
    @include modalArea;
    .modalBg {
      @include modalBg;
    }
    .modalWrapper {
      @include modalWrapper;
    }
    .modalContents {
      // font-size: 16px;
      h3 {
        font-size: 20px;
        padding: 20px 0;
      }
      p {
        font-weight: bold;
        padding-bottom: 20px;
      }
      ul {
        padding-bottom: 10px;
        li {
          padding-bottom: 5px;
          i {
            color: $profileColor;
            transform: scale(1.3);
            line-height: 42px;
          }
          a {
            font-weight: bold;
            font-size: 26px;
            padding-left: 10px;
            line-height: 15px;
            transition: all 0.3s;
            &:hover {
              text-decoration: underline;
              color: $profileColor;
              transition: all 0.3s;
            }
          }
        }
      }
    }
    .closeModal {
      @include closeModal;
    }
  }
}
@keyframes paginationLine {
  from {
    width: 0;
  }
}

.page {
  color: $mainColor;
  background: $pageColor;
  // font-family: "Bowlby One SC", cursive;
  font-family: anisette-std, sans-serif, "游ゴシック体";
  font-size: 16px;
  min-width: 100%;
  color: $colorHeader;
  .header {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px 0;
    width: 100%;
    box-sizing: border-box;
    &-logo {
      width: 15%;
      filter: brightness(1) invert(0);
    }
    ul {
      display: flex;
      li {
        // font-weight: bold;
        
        margin-left: 50px;
        font-size: 18px;
        border-bottom: 2px solid $colorHeader;
      }
    }
  }
  .contact {
    cursor: pointer;
  }
  .modalArea {
    @include font;
    // font-family: sans-serif;
    @include modalArea;
    .modalBg {
      @include modalBg;
    }
    .modalWrapper {
      @include modalWrapper;
    }
    .modalContents {
      // font-size: 16px;
      h3 {
        font-size: 20px;
        padding: 20px 0;
      }
      p {
        font-weight: bold;
        padding-bottom: 20px;
      }
      ul {
        padding-bottom: 10px;
        li {
          padding-bottom: 5px;
          i {
            color: $profileColor;
            transform: scale(1.3);
            line-height: 42px;
          }
          a {
            font-weight: bold;
            font-size: 26px;
            padding-left: 10px;
            line-height: 15px;
            transition: all 0.3s;
            &:hover {
              text-decoration: underline;
              color: $profileColor;
              transition: all 0.3s;
            }
          }
        }
      }
    }
    .closeModal {
      @include closeModal;
    }
  }
  .area {
    // height: 100%;
    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -5;
      li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        animation: circle 25s linear infinite;
        bottom: -150px;
        &:nth-child(1) {
          left: 25%;
          width: 80px;
          height: 80px;
          animation-delay: 0s;
        }
        &:nth-child(2) {
          left: 10%;
          width: 20px;
          height: 20px;
          animation-delay: 2s;
          animation-duration: 12s;
        }
        &:nth-child(3) {
          left: 70%;
          width: 20px;
          height: 20px;
          animation-delay: 4s;
        }
        &:nth-child(4) {
          left: 40%;
          width: 60px;
          height: 60px;
          animation-delay: 0s;
          animation-duration: 18s;
        }
        &:nth-child(5) {
          left: 65%;
          width: 20px;
          height: 20px;
          animation-delay: 0s;
        }
        &:nth-child(6) {
          left: 71%;
          width: 110px;
          height: 110px;
          animation-delay: 3s;
        }
        &:nth-child(7) {
          left: 35%;
          width: 150px;
          height: 150px;
          animation-delay: 7s;
        }
        &:nth-child(8) {
          left: 50%;
          width: 25px;
          height: 25px;
          animation-delay: 15s;
          animation-duration: 45s;
        }
        &:nth-child(9) {
          left: 20%;
          width: 15px;
          height: 15px;
          animation-delay: 2s;
          animation-duration: 35s;
        }
        &:nth-child(10) {
          left: 85%;
          width: 150px;
          height: 150px;
          animation-delay: 0s;
          animation-duration: 11s;
        }
        &:nth-child(11) {
          left: 5%;
          width: 60px;
          height: 60px;
          animation-delay: 1s;
          animation-duration: 10s;
        }
        &:nth-child(12) {
          left: 50%;
          width: 120px;
          height: 120px;
          animation-delay: 3s;
          animation-duration: 15s;
        }
      }
    }
  }
  .main {
    h1 {
      position: relative;
      font-size: 100px;
      text-align: center;
      padding-top: 70px;
      letter-spacing: 0.03em;
      opacity: 0;
      animation: fadein-left 3s 0s ease-in forwards;
      &::before {
        position: absolute;
        content: "";
        width: 35%;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
      }
    }
  }
  .profile {
    .main {
      h1 {
        color: $mainColor;
        &::before {
          border-bottom: 13px solid $mainColor;
        }
      }
      &-profile {
        // font-size: 20px;
        // letter-spacing: 0.05em;
        width: 65%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        position: relative;
        .box-left, .box-right {
          width: 45%;
          p {
            font-family: "游ゴシック", "Yu Gothic";
            font-size: 18px;
            line-height: 23px;
            span {
              display: none;
            }
          }
          .trigger {
            width: 60%;
          }
          .message {
            width: 70%;
          }
          .left-content, .right-content {
            padding-bottom: 30px;
            color: $colorBlack;
            .box-title {
              padding-bottom: 10px;
              color: $mainColor;
              p {
                font-family: anisette-std, sans-serif;
                display: inline-block;
                font-size: 30px;
                position: relative;
                z-index: 10;
                &::before {
                  @include box-title;
                  width: 40px;
                  height: 40px;
                  background-color: $profileColor;
                  z-index: -1;
                  top: -35%;
                  left: -75%;
                }
                &::after {
                  @include box-title;
                  width: 46px;
                  height: 46px;
                  background-color: $pageColor;
                  z-index: -25;
                  top: -50%;
                }
              }
              h4 {
                font-weight: normal;
                font-size: 30px;
                display: inline-block;
                background-color: #fff;
                line-height: 40px;
              }
            }
          }
        }
        .box-left {
          .left-content {
            position: relative;
            &::before {
              @include line-before;
              left: 0;
            }
            &:nth-child(1)::after {
              @include line-before;
              transform: rotate(45deg);
              width: 18%;
              bottom: -3px;
              right: 73px;
            }
            &:nth-child(3)::after {
              @include line-before;
              transform: rotate(135deg);
              width: 25%;
              bottom: 52px;
              right: 51px;
            }
            &:nth-child(odd)::before {
              width: 65%;
            }
            p {
              &::after {
                left: -75%;
              }
            }
            h4 {
              padding: 0 20px 0 30px;
            }
            .profile-text {
              padding-left: 20px;
            }
          }
        }
        .box-right {
          text-align: right;
          .right-content {
            position: relative;
            &::before {
              @include line-before;
              right: 0;
              width: 65%;
            }
            &:nth-child(1)::after {
              @include line-before;
              transform: rotate(135deg);
              width: 18%;
              bottom: -3px;
              left: 73px;
            }
            &:nth-child(2) {
              padding-bottom: 25px;
              &::after {
                @include line-before;
                transform: rotate(45deg);
                width: 30%;
                bottom: 60px;
                left: 35px;
              }
            }
            p {
              display: inline-block;
              &::after {
                right: -65%;
              }
            }
            h4 {
              padding: 0 30px 0 20px;
            }
            .profile-text {
              padding-right: 20px;
            }
          }
          ul {
            text-align-last: left;
            padding-left: 145px;
            li {
              p {
                display: inline-block;
              }
              span {
                position: relative;
                border: 1px solid $mainColor;
                border-radius: 30px;
                display: inline-block;
                padding: 5px 0px;
                width: 100%;
                &::before {
                  position: absolute;
                  content: "";
                  background-color: $mainColor;
                  border-radius: 30px;
                  padding: 5px 0;
                  top: 0;
                  left: 0;
                }
              }
              .first::before {
                width: 90%;
              }
              .second::before {
                width: 65%;
              }
              .third::before {
                width: 45%;
              }
              .fourth::before {
                width: 80%;
              }
            }
          }
        }
        .profile-img {
          position: absolute;
          top: 25%;
          left: 35%;
          transform: translate(-50%, -50%);
          opacity: 0;
          animation: fadein-bottom 1.5s 2.5s ease-out forwards;
          width: 250px;
          img {
            animation: blob 20s infinite;
          }
        }
      }
    }
    .area {
      .circles {
        li {
          background: $profileColor;
        }
      }
    }
  }
  .service {
    .area {
      .circles {
        height: 1530px;
        li {
          background: $secondColor;
          animation: circle-service 20s linear infinite;
          &:nth-child(1) {
            animation-duration: 12s;
          }
          &:nth-child(3) {
            animation-duration: 16s;
          }
          &:nth-child(4) {
            animation-duration: 32s;
          }
          &:nth-child(5) {
            animation-duration: 28s;
          }
          &:nth-child(6) {
            animation-duration: 18s;
          }
          &:nth-child(7) {
            animation-duration: 24s;
          }
          &:nth-child(8) {
            animation-duration: 26s;
          }
          &:nth-child(9) {
            animation-duration: 28s;
          }
          &:nth-child(10) {
            animation-duration: 20s;
          }
          &:nth-child(11) {
            animation-duration: 30s;
          }
          &:nth-child(12) {
            animation-duration: 22s;
          }
        }
      }
    }
    .main {
      h1 {
        color: $secondColor;
        &::before {
          border-bottom: 13px solid $secondColor;
        }
      }
      &-service {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        li {
          width: 600px;
          height: 600px;
          position: relative;
          padding-top: 30px;
          &::before {
            position: absolute;
            top: 30px;
            left: 0;
            width: 600px;
            height: 600px;
            z-index: 3;
            transform: scale(1);
          }
          &:nth-child(1)::before {
            content: url(../img/no-01.png);
          }
          &:nth-child(2)::before {
            content: url(../img/no-02.png);
          }
          &:nth-child(3)::before {
            content: url(../img/no-03.png);
          }
          &:nth-child(4)::before {
            content: url(../img/no-04.png);
          }

          .text {
            text-align: center;
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h4 {
              color: $secondColor;
              font-size: 28px;
              padding-bottom: 15px;
            }
            p {
              // font-family: wanpaku-ruika, sans-serif;
              padding-top: 15px;
              width: 80%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .portfolio {
    .area {
      .circles {
        height: 2590px;
        li {
          background: $portfolioColor;
          animation: circle-portfolio 30s linear infinite;
          &:nth-child(1) {
            animation-duration: 12s;
          }
          &:nth-child(3) {
            animation-duration: 25s;
          }
          &:nth-child(4) {
            animation-duration: 38s;
          }
          &:nth-child(5) {
            animation-duration: 36s;
          }
          &:nth-child(6) {
            animation-duration: 18s;
          }
          &:nth-child(7) {
            animation-duration: 20s;
          }
          &:nth-child(8) {
            animation-duration: 45s;
          }
          &:nth-child(9) {
            animation-duration: 28s;
          }
          &:nth-child(10) {
            animation-duration: 50s;
          }
          &:nth-child(11) {
            animation-duration: 42s;
          }
          &:nth-child(12) {
            animation-duration: 32s;
          }
        }
      }
    }
    .main {
      h1 {
        color: $thirdColor;
        &::before {
          border-bottom: 13px solid $thirdColor;
        }
      }
      &-portfolio {
        // font-family: wanpaku-ruika, sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        padding-top: 30px;
        .svg-first,
        .svg-third {
          @include svg-bg;
          &::before {
            @include portfolio;
            background: url(../img/c-work1.png) center center / cover;
            left: -50px;
          }
          svg {
            @include svg;
            left: -50px;
          }
        }
        .svg-third {
          &::before {
            background: url(../img/c-work3.png) center center / cover;
          }
        }
        .svg-second,
        .svg-fourth {
          @include svg-bg;
          &::before {
            @include portfolio;
            background: url(../img/c-work2.png) center center / cover;
            right: -50px;
          }
          svg {
            @include svg;
            right: -50px;
          }
        }
        .svg-fourth {
          &::before {
            background: url(../img/c-work4.png) center center / cover;
          }
        }
        .text-right,
        .text-left {
          width: 52%;
          font-size: 18px;
          font-weight: normal;
          opacity: 0;
          animation: fadein-bottom 1.5s 2.5s ease-out forwards;
          h4 {
            font-family: "Bowlby One SC", cursive;
            font-size: 32px;
            padding-bottom: 10px;
            color: $portfolioColor;
            opacity: 0.8;
          }
          p {
            width: 75%;
            padding: 20px 0;
          }
          a {
            display: flex;
            align-items: center;
            .circle-site {
              width: 80px;
              height: 80px;
              background: $portfolioColor;
              opacity: 0.8;
              animation: blob 10s linear infinite;
              position: relative;
              &::before {
                position: absolute;
                content: "→";
                // width: 40px;
                // height: 40px;
                font-size: 40px;
                transform: rotate(-45deg) translate(20%, -56%);
                top: 50%;
                left: 50%;
                color: #fff;
              }
            }
            .site {
              padding-left: 20px;
            }
          }
        }
        .text-left {
          padding-left: 15%;
        }
      }
    }
  }
}

@keyframes blob {
  0% {
    border-radius: 36% 64% 62% 38% / 51% 42% 58% 49%;
  }
  30% {
    border-radius: 56% 44% 62% 38% / 64% 44% 56% 36%;
  }
  50% {
    border-radius: 36% 64% 62% 38% / 41% 51% 49% 59%;
  }
  70% {
    border-radius: 54% 46% 67% 33% / 46% 54% 46% 54%;
  }
  80% {
    border-radius: 45% 55% 47% 53% / 46% 61% 39% 54%;
  }
  100% {
    border-radius: 36% 64% 62% 38% / 51% 42% 58% 49%;
  }
}

@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes circle {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 10%;
  }
  100% {
    transform: translateY(-800px) rotate(720deg);
    opacity: 0.3;
    border-radius: 50%;
  }
}
@keyframes circle-portfolio {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    transform: translateY(-2700px) rotate(1800deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}
@keyframes circle-service {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    transform: translateY(-1600px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}
@keyframes service-pc {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    transform: translateY(-1400px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}
@keyframes change-circle {
  0%,
  100% {
    border-radius: 52% 48% 60% 40% / 38% 54% 46% 62%;
  }
  25% {
    border-radius: 43% 57% 60% 40% / 41% 56% 44% 59%;
  }
  50% {
    border-radius: 27% 73% 41% 59% / 57% 63% 37% 43%;
  }
  75% {
    border-radius: 68% 32% 37% 63% / 61% 38% 62% 39%;
  }
}
@keyframes color-change {
  0%,
  100% {
    fill: #dc4618ad;
  }
  25% {
    fill: #dc1828ad;
  }
  50% {
    fill: #dc9718ad;
  }
  75% {
    fill: #dcbf18ad;
  }
}

@media screen and (max-width: 1100px) {
  .section {
    .swiper-slide {
      padding-top: 50px;
      .img {
        img {
          width: 90%;
        }
      }
      .png4 {
        padding-top: 40px;
      }
      .svg {
        transform: scale(1.25);
        &:hover {
          pointer-events: none;
        }
      }
    }
    .swiper-pagination {
      bottom: 60px !important;
      .swiper-pagination-bullet {
        &::before {
          bottom: -10px;
        }
        &::after {
          bottom: -10px;
        }
      }
    }
  }
  .page {
    .profile {
      .main {
        &-profile {
          width: 80%;
          .box-left,
          .box-right {
            width: 50%;
            .trigger {
              width: 50%;
            }
            .message {
              width: 60%;
            }
          }
          .box-left {
            .left-content {
              &::before {
                @include line-before;
                width: 68%;
              }
              &:nth-child(1)::after {
                width: 15%;
                bottom: -3px;
                right: 120px;
              }
              &:nth-child(3)::after {
                width: 22%;
                bottom: 54px;
                right: 94px;
              }
              &:nth-child(odd)::before {
                width: 60%;
              }
            }
          }
          .box-right {
          .right-content {
            &::before {
              width: 60%;
            }
            &:nth-child(1)::after {
              width: 15%;
              bottom: -3px;
              left: 120px;
            }
            &:nth-child(2) {
              &::after {
                width: 28%;
                bottom: 63px;
                left: 71px;
              }
            }
          }
          ul {
            padding-left: 180px;
          }
        }
        }
      }
      &-img {
        width: 90%;
      }
    }
    .service {
      .area {
        .circles {
          height: 1390px;
          li {
            animation: service-pc 20s linear infinite;
          }
        }
      }
      .main {
        &-service {
          li {
            width: 530px;
            height: 530px;
            &::before {
              top: 10px;
              left: -30px;
              width: 600px;
              height: 600px;
              // transform: scale(0.95);
            }
            svg {
              width: 600px;
            }
            .text {
              p {
                width: 50%;
              }
            }
          }
        }
      }
    }
    .portfolio {
      .main {
        &-portfolio {
          .text-right,
          .text-left {
            width: 47%;
          }
          .text-left {
            padding-left: 12%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1040px) {
  .page {
    .profile {
      .main {
        .box-left, .box-right {
          .trigger {
            width: 55%;
          }
          .message {
            width: 63%;
          }
        }
        .box-left {
          .left-content {
            &:nth-child(1)::after {
              bottom: -2px;
              right: 113px;
            }
            &:nth-child(3)::after {
              bottom: 53px;
              right: 89px;
            }
          }
        }
        .box-right {
          .right-content {
            &:nth-child(1)::after {
              bottom: -2px;
              left: 113px;
            }
            &:nth-child(2) {
              &::after {
                bottom: 61px;
                left: 69px;
              }
            }
          }
          ul {
            padding-left: 180px;
          }
        }
      }
    }
    &-img {
      width: 90%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &-logo {
      width: 25%;
    }
  }
  .section {
    .swiper-slide {
      padding-top: 400px;
      h2 {
        top: 45%;
        font-size: 100px;
      }
      .img {
        top: 25%;
        width: 420px;
        height: 320px;
        img {
          width: 100%;
        }
      }
      .png4 {
        padding-top: 40px;
      }
      span {
        top: 48%;
        width: 32%;
        border-bottom: 8px solid #fff;
      }
      h3 {
        font-size: 32px;
        top: 50%;
      }
      .svg {
        transform: scale(1.6);
      }
    }
    .swiper-pagination {
      bottom: 100px !important;
      .swiper-pagination-bullet {
        font-size: 24px;
        &::before {
          bottom: -15px;
        }
        &::after {
          bottom: -15px;
        }
      }
    }
  }
  .page {
    .profile {
      .main {
        h1 {
          padding-top: 100px;
        }
      }
    }
    .service {
      .area {
        .circles {
          height: 1290px;
          li {
            animation: service-pc 20s linear infinite;
          }
        }
      }
      .main {
        &-service {
          li {
            width: 480px;
            height: 480px;
            &::before {
              top: -35px;
              left: -60px;
              transform: scale(0.93);
            }
            &:nth-child(1)::before {
              left: -40px;
            }
            &:nth-child(2)::before {
              left: -45px;
            }
            svg {
              width: 560px;
            }
            .text {
              p {
                width: 50%;
              }
            }
          }
        }
      }
    }
    .portfolio {
      .main {
        &-portfolio {
          .text-right,
          .text-left {
            width: 43%;
          }
          .text-left {
            padding-left: 10%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 834px) {
  .header {
    &-logo {
      width: 20%;
    }
  }
  .section {
    .swiper-slide {
      padding-top: 300px;
      h2 {
        top: 48%;
      }
      .img {
        top: 23%;
      }
      .png3 {
        top: 21%;
      }
      .png4 {
        padding-top: 60px;
      }
      span {
        width: 40%;
        top: 52%;
      }
      h3 {
        top: 54%;
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        margin: 0 30px !important;
      }
    }
  }
  .page {
    .header {
      ul {
        li:nth-child(n + 2):nth-child(-n + 4) {
          display: none;
        }
      }
      z-index: 10;
    }
    .profile {
      .main {
        h1 {
          font-size: 80px;
          padding-top: 300px;
          z-index: 5;
          &::before {
            border-bottom: 13px solid $mainColor;
          }
        }
        &-profile {
          width: 53%;
          margin: 0 auto;
          display: block;
          .box-left {
            width: 100%;
            margin: 0 auto;
          }
          .box-right {
            width: 400px;
            margin: 0 auto;
          }
          .box-left {
            padding: 150px 0 80px;
            display: flex;
            &_text {
              padding-left: 10px;
              width: 360px;
            }
            p {
              width: 150px;
            }
          }
          .box-right {
            position: absolute;
            top: 12%;
            left: 26%;
            padding: 0;
            opacity: 0;
            animation: fadein-bottom 1.5s 2.5s ease-out forwards;
            z-index: 2;
            img {
              animation: blob 20s infinite;
              width: 100%;
            }
          }
        }
      }
    }
    .service {
      .area {
        .circles {
          height: 1170px;
        }
      }
      .main {
        h1 {
          color: $secondColor;
          &::before {
            border-bottom: 13px solid $secondColor;
          }
        }
        &-service {
          li {
            width: 420px;
            height: 420px;
            padding-top: 30px;
            &::before {
              position: absolute;
              top: -35px;
              width: 450px;
              height: 450px;
              z-index: 3;
              transform: scale(0.8);
            }
            svg {
              width: 500px;
            }
            .text {
              padding-top: 65px;
              padding-left: 50px;
              h4 {
                color: $secondColor;
                font-size: 28px;
                padding-bottom: 15px;
              }
              p {
                width: 40%;
                margin: 0 auto;
                font-size: 15px;
              }
              svg {
                transform: scale(0.9);
              }
            }
          }
        }
      }
    }
    .portfolio {
      .main {
        &-portfolio {
          .svg-first,
          .svg-third {
            @include svg-bg;
            transform: scale(1);
            left: -100px;
            &::before {
              @include portfolio;
              transform: translateY(-50%) scale(0.9);
              left: 0px;
            }
            svg {
              @include svg;
              left: -50px;
            }
          }
          .svg-third {
            &::before {
              transform: translateY(-50%) scale(0.9);
            }
          }
          .svg-second,
          .svg-fourth {
            @include svg-bg;
            &::before {
              @include portfolio;
              transform: translateY(-50%) scale(0.9);
              right: -80px;
            }
            svg {
              @include svg;
              right: -100px;
            }
          }
          .svg-fourth {
            &::before {
              background: url(../img/c-work4.png) center center / cover;
            }
          }
          .text-right,
          .text-left {
            width: 46%;
            p {
              width: 80%;
              padding: 20px 0;
            }
          }
          .text-left {
            padding-left: 8%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .section {
    .swiper-slide {
      h2 {
        top: 50%;
      }
      span {
        top: 54%;
      }
      h3 {
        top: 56%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 30px 40px 0;
  }
  .section {
    .swiper-slide {
      padding-top: 40px;
      h2 {
        font-size: 60px;
        top: 49%;
      }
      .img {
        width: 260px;
        height: 220px;
        top: 20%;
      }
      .png3 {
        top: 19%;
      }
      .png4 {
        padding-top: 40px;
      }
      span {
        width: 50%;
        top: 53%;
        border-bottom: 5px solid #fff;
      }
      h3 {
        font-size: 24px;
        top: 55%;
        letter-spacing: 0.05em;
        width: 85%;
        margin: 0 auto;
      }
      .svg {
        position: absolute;
        content: "";
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        // transform: scale(1);
        padding: 0 10px 15px 0;
      }
    }
    .swiper-pagination {
      bottom: 80px !important;
      .swiper-pagination-bullet {
        font-size: 18px;
        padding-bottom: 20px;
        margin: 0 50px !important;
        &::before {
          bottom: 15px;
        }
        &::after {
          bottom: 15px;
        }
        &:nth-child(3) {
          margin: 0 42px !important;
        }
      }
    }
    .modalArea {
      .modalContents {
        // font-size: 16px;
        h3 {
          width: 80%;
        }
        p {
          font-weight: bold;
          padding-bottom: 20px;
        }
        ul {
          li {
            a {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  .page {
    .header {
      padding: 40px 30px 0;
      &-logo {
        width: 30%;
      }
    }
    .profile {
      .main {
        h1 {
          font-size: 60px;
          padding-top: 300px;
          z-index: 5;
          &::before {
            border-bottom: 13px solid $mainColor;
          }
        }
        &-profile {
          width: 78%;
          margin: 0 auto;
          display: block;
          .box-left {
            width: 100%;
            margin: 0 auto;
            font-size: 16px;
          }
          .box-right {
            width: 350px;
            margin: 0 auto;
          }
          .box-left {
            padding: 90px 0 40px;
            display: flex;
            &_text {
              padding-left: 10px;
              width: 360px;
            }
            p {
              width: 150px;
            }
          }
          .box-right {
            top: 12%;
            left: 15%;
            z-index: 2;
            img {
              animation: blob 20s infinite;
              width: 100%;
            }
          }
        }
      }
    }
    .service {
      .area {
        .circles {
          height: 2010px;
          li {
            animation: circle-portfolio 20s linear infinite;
          }
        }
      }
      .main {
        h1 {
          font-size: 60px;
        }
      }
    }
    .portfolio {
      .main {
        h1 {
          font-size: 60px;
        }
        &-portfolio {
          display: block;
          .svg-first,
          .svg-third {
            @include svg-bg;
            transform: scale(1);
            left: -100px;
            &::before {
              @include portfolio;
              transform: translateY(-50%) scale(0.9);
              left: 0px;
            }
            svg {
              @include svg;
              left: -50px;
            }
          }
          .svg-third {
            &::before {
              transform: translateY(-50%) scale(0.9);
            }
          }
          .svg-second,
          .svg-fourth {
            @include svg-bg;
            &::before {
              @include portfolio;
              transform: translateY(-50%) scale(0.9);
              right: -80px;
            }
            svg {
              @include svg;
              right: -100px;
            }
          }
          .svg-fourth {
            &::before {
              background: url(../img/c-work4.png) center center / cover;
            }
          }
          .text-right,
          .text-left {
            width: 46%;
            p {
              width: 80%;
              padding: 20px 0;
            }
          }
          .text-left {
            padding-left: 8%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .section {
    .swiper-slide {
      h2 {
        font-size: 55px;
        top: 50%;
      }
      .img {
        top: 24%;
      }
      .png3 {
        top: 23%;
      }
      // .png4 {
      //   padding-top: 30px;
      // }
      span {
        width: 48%;
        top: 54%;
      }
      h3 {
        top: 56%;
      }
      .svg {
        top: 40%;
      }
    }
    // .swiper-pagination {
    //   bottom: 80px !important;
    // }
    .swiper-pagination {
      .swiper-pagination-bullet {
        margin: 0 35px !important;
        &:nth-child(3) {
          margin: 0 28px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 393px) {
  .header {
    &-logo {
      width: 25%;
    }
  }
  .section {
    .swiper-slide {
      h2 {
        font-size: 50px;
      }
      .svg {
        top: 43%;
        transform: translate(-50%, -50%) scale(0.85);
      }
      h3 {
        font-size: 22px;
        width: 85%;
      }
      .swiper-pagination {
        margin: 0 40px !important;
        .swiper-pagination-bullet {
          &:nth-child(3) {
            margin: 0 35px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 30px 30px 0;
    &-logo {
      width: 30%;
    }
  }
  .section {
    .swiper-slide {
      h2 {
        font-size: 40px;
        top: 48%;
      }
      .img {
        width: 240px;
        height: 200px;
        top: 21%;
      }
      // .png3 {
      //   top: 28%;
      // }
      .png4 {
        padding-top: 40px;
      }
      span {
        width: 40%;
        top: 51%;
      }
      h3 {
        font-size: 20px;
        top: 53%;
      }
      .svg {
        top: 37%;
        transform: translate(-50%, -50%) scale(0.75);
      }
    }
  }
}
