@charset "UTF-8";
.circle {
  max-width: 100%;
  height: 100vh;
  color: #ffffff;
  margin: 0 auto;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: anisette-std, sans-serif;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 60px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-logo {
  width: 15%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.section .swiper-container {
  width: 100%;
  height: 100vh;
}

.section .swiper-slide {
  text-align: center;
  padding-top: 80px;
  position: relative;
}

.section .swiper-slide:nth-child(1) {
  background: #35375e;
}

.section .swiper-slide:nth-child(2) {
  background: #5b72e0;
}

.section .swiper-slide:nth-child(3) {
  background: #5cba96;
}

.section .swiper-slide:nth-child(4) {
  background: #119d85;
}

.section .swiper-slide h2 {
  position: absolute;
  z-index: 10;
  letter-spacing: 0.07em;
  text-align: center;
  top: 62%;
  left: 50%;
  width: 100%;
  font-size: 80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  font-weight: bold;
  letter-spacing: 0.01rem;
}

.section .swiper-slide .img {
  position: absolute;
  content: "";
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 8;
  width: 380px;
  height: 300px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section .swiper-slide .png2 {
  top: 17%;
}

.section .swiper-slide .png3 {
  top: 15%;
}

.section .swiper-slide .png4 {
  padding-top: 50px;
}

.section .swiper-slide span {
  position: absolute;
  content: "";
  width: 25%;
  top: 68%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  border-bottom: 5px solid #fff;
  z-index: 10;
}

.section .swiper-slide h3 {
  position: absolute;
  z-index: 10;
  letter-spacing: 0.07em;
  text-align: center;
  top: 62%;
  left: 50%;
  width: 100%;
  font-size: 24px;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  letter-spacing: 0.012rem;
}

.section .swiper-slide .svg {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  padding: 0px 10px 15px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 3;
}

.section .swiper-slide .svg:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.section .swiper-slide .contact {
  cursor: pointer;
}

.section .swiper-pagination {
  bottom: 50px !important;
  z-index: 20;
}

.section .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 0;
  opacity: 1;
  color: #fff;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  margin: 0 50px !important;
}

.section .swiper-pagination .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  opacity: 0.5;
}

.section .swiper-pagination .swiper-pagination-bullet::after {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  width: 0;
}

.section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  width: 100%;
  -webkit-animation: paginationLine 5s linear;
          animation: paginationLine 5s linear;
}

.section .modalArea {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  display: none;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.section .modalArea .modalBg {
  width: 100%;
  height: 100vh;
  background-color: rgba(107, 107, 107, 0.9);
  z-index: 40;
}

.section .modalArea .modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-width: 100vh;
  padding: 10px 30px;
  color: #fff;
  background-color: #35375e;
  border-radius: 10px;
  opacity: 0.9;
  z-index: 40;
}

.section .modalArea .modalContents h3 {
  font-size: 20px;
  padding: 20px 0;
}

.section .modalArea .modalContents p {
  font-weight: bold;
  padding-bottom: 20px;
}

.section .modalArea .modalContents ul {
  padding-bottom: 10px;
}

.section .modalArea .modalContents ul li {
  padding-bottom: 5px;
}

.section .modalArea .modalContents ul li i {
  color: #fade9e;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  line-height: 42px;
}

.section .modalArea .modalContents ul li a {
  font-weight: bold;
  font-size: 26px;
  padding-left: 10px;
  line-height: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section .modalArea .modalContents ul li a:hover {
  text-decoration: underline;
  color: #fade9e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section .modalArea .closeModal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 40px;
  cursor: pointer;
}

@-webkit-keyframes paginationLine {
  from {
    width: 0;
  }
}

@keyframes paginationLine {
  from {
    width: 0;
  }
}

.page {
  color: #35375e;
  background: #f6f5f5;
  font-family: anisette-std, sans-serif, "游ゴシック体";
  font-size: 16px;
  min-width: 100%;
  color: #515151;
}

.page .header {
  position: fixed;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 60px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page .header-logo {
  width: 15%;
  -webkit-filter: brightness(1) invert(0);
          filter: brightness(1) invert(0);
}

.page .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .header ul li {
  margin-left: 50px;
  font-size: 18px;
  border-bottom: 2px solid #515151;
}

.page .contact {
  cursor: pointer;
}

.page .modalArea {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  display: none;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.page .modalArea .modalBg {
  width: 100%;
  height: 100vh;
  background-color: rgba(107, 107, 107, 0.9);
  z-index: 40;
}

.page .modalArea .modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-width: 100vh;
  padding: 10px 30px;
  color: #fff;
  background-color: #35375e;
  border-radius: 10px;
  opacity: 0.9;
  z-index: 40;
}

.page .modalArea .modalContents h3 {
  font-size: 20px;
  padding: 20px 0;
}

.page .modalArea .modalContents p {
  font-weight: bold;
  padding-bottom: 20px;
}

.page .modalArea .modalContents ul {
  padding-bottom: 10px;
}

.page .modalArea .modalContents ul li {
  padding-bottom: 5px;
}

.page .modalArea .modalContents ul li i {
  color: #fade9e;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  line-height: 42px;
}

.page .modalArea .modalContents ul li a {
  font-weight: bold;
  font-size: 26px;
  padding-left: 10px;
  line-height: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page .modalArea .modalContents ul li a:hover {
  text-decoration: underline;
  color: #fade9e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page .modalArea .closeModal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 40px;
  cursor: pointer;
}

.page .area .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -5;
}

.page .area .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  -webkit-animation: circle 25s linear infinite;
          animation: circle 25s linear infinite;
  bottom: -150px;
}

.page .area .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.page .area .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.page .area .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.page .area .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.page .area .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.page .area .circles li:nth-child(6) {
  left: 71%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.page .area .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.page .area .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.page .area .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.page .area .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

.page .area .circles li:nth-child(11) {
  left: 5%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.page .area .circles li:nth-child(12) {
  left: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.page .main h1 {
  position: relative;
  font-size: 100px;
  text-align: center;
  padding-top: 70px;
  letter-spacing: 0.03em;
  opacity: 0;
  -webkit-animation: fadein-left 3s 0s ease-in forwards;
          animation: fadein-left 3s 0s ease-in forwards;
}

.page .main h1::before {
  position: absolute;
  content: "";
  width: 35%;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page .profile .main h1 {
  color: #35375e;
}

.page .profile .main h1::before {
  border-bottom: 13px solid #35375e;
}

.page .profile .main-profile {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  position: relative;
}

.page .profile .main-profile .box-left, .page .profile .main-profile .box-right {
  width: 45%;
}

.page .profile .main-profile .box-left p, .page .profile .main-profile .box-right p {
  font-family: "游ゴシック", "Yu Gothic";
  font-size: 18px;
  line-height: 23px;
}

.page .profile .main-profile .box-left p span, .page .profile .main-profile .box-right p span {
  display: none;
}

.page .profile .main-profile .box-left .trigger, .page .profile .main-profile .box-right .trigger {
  width: 60%;
}

.page .profile .main-profile .box-left .message, .page .profile .main-profile .box-right .message {
  width: 70%;
}

.page .profile .main-profile .box-left .left-content, .page .profile .main-profile .box-left .right-content, .page .profile .main-profile .box-right .left-content, .page .profile .main-profile .box-right .right-content {
  padding-bottom: 30px;
  color: #000000;
}

.page .profile .main-profile .box-left .left-content .box-title, .page .profile .main-profile .box-left .right-content .box-title, .page .profile .main-profile .box-right .left-content .box-title, .page .profile .main-profile .box-right .right-content .box-title {
  padding-bottom: 10px;
  color: #35375e;
}

.page .profile .main-profile .box-left .left-content .box-title p, .page .profile .main-profile .box-left .right-content .box-title p, .page .profile .main-profile .box-right .left-content .box-title p, .page .profile .main-profile .box-right .right-content .box-title p {
  font-family: anisette-std, sans-serif;
  display: inline-block;
  font-size: 30px;
  position: relative;
  z-index: 10;
}

.page .profile .main-profile .box-left .left-content .box-title p::before, .page .profile .main-profile .box-left .right-content .box-title p::before, .page .profile .main-profile .box-right .left-content .box-title p::before, .page .profile .main-profile .box-right .right-content .box-title p::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fade9e;
  z-index: -1;
  top: -35%;
  left: -75%;
}

.page .profile .main-profile .box-left .left-content .box-title p::after, .page .profile .main-profile .box-left .right-content .box-title p::after, .page .profile .main-profile .box-right .left-content .box-title p::after, .page .profile .main-profile .box-right .right-content .box-title p::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #f6f5f5;
  z-index: -25;
  top: -50%;
}

.page .profile .main-profile .box-left .left-content .box-title h4, .page .profile .main-profile .box-left .right-content .box-title h4, .page .profile .main-profile .box-right .left-content .box-title h4, .page .profile .main-profile .box-right .right-content .box-title h4 {
  font-weight: normal;
  font-size: 30px;
  display: inline-block;
  background-color: #fff;
  line-height: 40px;
}

.page .profile .main-profile .box-left .left-content {
  position: relative;
}

.page .profile .main-profile .box-left .left-content::before {
  position: absolute;
  content: "";
  background-color: #35375e;
  height: 2px;
  bottom: 20px;
  width: 73%;
  left: 0;
}

.page .profile .main-profile .box-left .left-content:nth-child(1)::after {
  position: absolute;
  content: "";
  background-color: #35375e;
  height: 2px;
  bottom: 20px;
  width: 73%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 18%;
  bottom: -3px;
  right: 73px;
}

.page .profile .main-profile .box-left .left-content:nth-child(3)::after {
  position: absolute;
  content: "";
  background-color: #35375e;
  height: 2px;
  bottom: 20px;
  width: 73%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 25%;
  bottom: 52px;
  right: 51px;
}

.page .profile .main-profile .box-left .left-content:nth-child(odd)::before {
  width: 65%;
}

.page .profile .main-profile .box-left .left-content p::after {
  left: -75%;
}

.page .profile .main-profile .box-left .left-content h4 {
  padding: 0 20px 0 30px;
}

.page .profile .main-profile .box-left .left-content .profile-text {
  padding-left: 20px;
}

.page .profile .main-profile .box-right {
  text-align: right;
}

.page .profile .main-profile .box-right .right-content {
  position: relative;
}

.page .profile .main-profile .box-right .right-content::before {
  position: absolute;
  content: "";
  background-color: #35375e;
  height: 2px;
  bottom: 20px;
  width: 73%;
  right: 0;
  width: 65%;
}

.page .profile .main-profile .box-right .right-content:nth-child(1)::after {
  position: absolute;
  content: "";
  background-color: #35375e;
  height: 2px;
  bottom: 20px;
  width: 73%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 18%;
  bottom: -3px;
  left: 73px;
}

.page .profile .main-profile .box-right .right-content:nth-child(2) {
  padding-bottom: 25px;
}

.page .profile .main-profile .box-right .right-content:nth-child(2)::after {
  position: absolute;
  content: "";
  background-color: #35375e;
  height: 2px;
  bottom: 20px;
  width: 73%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 30%;
  bottom: 60px;
  left: 35px;
}

.page .profile .main-profile .box-right .right-content p {
  display: inline-block;
}

.page .profile .main-profile .box-right .right-content p::after {
  right: -65%;
}

.page .profile .main-profile .box-right .right-content h4 {
  padding: 0 30px 0 20px;
}

.page .profile .main-profile .box-right .right-content .profile-text {
  padding-right: 20px;
}

.page .profile .main-profile .box-right ul {
  text-align-last: left;
  padding-left: 145px;
}

.page .profile .main-profile .box-right ul li p {
  display: inline-block;
}

.page .profile .main-profile .box-right ul li span {
  position: relative;
  border: 1px solid #35375e;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 0px;
  width: 100%;
}

.page .profile .main-profile .box-right ul li span::before {
  position: absolute;
  content: "";
  background-color: #35375e;
  border-radius: 30px;
  padding: 5px 0;
  top: 0;
  left: 0;
}

.page .profile .main-profile .box-right ul li .first::before {
  width: 90%;
}

.page .profile .main-profile .box-right ul li .second::before {
  width: 65%;
}

.page .profile .main-profile .box-right ul li .third::before {
  width: 45%;
}

.page .profile .main-profile .box-right ul li .fourth::before {
  width: 80%;
}

.page .profile .main-profile .profile-img {
  position: absolute;
  top: 25%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: fadein-bottom 1.5s 2.5s ease-out forwards;
          animation: fadein-bottom 1.5s 2.5s ease-out forwards;
  width: 250px;
}

.page .profile .main-profile .profile-img img {
  -webkit-animation: blob 20s infinite;
          animation: blob 20s infinite;
}

.page .profile .area .circles li {
  background: #fade9e;
}

.page .service .area .circles {
  height: 1530px;
}

.page .service .area .circles li {
  background: #5b72e0;
  -webkit-animation: circle-service 20s linear infinite;
          animation: circle-service 20s linear infinite;
}

.page .service .area .circles li:nth-child(1) {
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.page .service .area .circles li:nth-child(3) {
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
}

.page .service .area .circles li:nth-child(4) {
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
}

.page .service .area .circles li:nth-child(5) {
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
}

.page .service .area .circles li:nth-child(6) {
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.page .service .area .circles li:nth-child(7) {
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
}

.page .service .area .circles li:nth-child(8) {
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
}

.page .service .area .circles li:nth-child(9) {
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
}

.page .service .area .circles li:nth-child(10) {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

.page .service .area .circles li:nth-child(11) {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}

.page .service .area .circles li:nth-child(12) {
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}

.page .service .main h1 {
  color: #5b72e0;
}

.page .service .main h1::before {
  border-bottom: 13px solid #5b72e0;
}

.page .service .main-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.page .service .main-service li {
  width: 600px;
  height: 600px;
  position: relative;
  padding-top: 30px;
}

.page .service .main-service li::before {
  position: absolute;
  top: 30px;
  left: 0;
  width: 600px;
  height: 600px;
  z-index: 3;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.page .service .main-service li:nth-child(1)::before {
  content: url(../img/no-01.png);
}

.page .service .main-service li:nth-child(2)::before {
  content: url(../img/no-02.png);
}

.page .service .main-service li:nth-child(3)::before {
  content: url(../img/no-03.png);
}

.page .service .main-service li:nth-child(4)::before {
  content: url(../img/no-04.png);
}

.page .service .main-service li .text {
  text-align: center;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page .service .main-service li .text h4 {
  color: #5b72e0;
  font-size: 28px;
  padding-bottom: 15px;
}

.page .service .main-service li .text p {
  padding-top: 15px;
  width: 80%;
  margin: 0 auto;
}

.page .portfolio .area .circles {
  height: 2590px;
}

.page .portfolio .area .circles li {
  background: #dc4518;
  -webkit-animation: circle-portfolio 30s linear infinite;
          animation: circle-portfolio 30s linear infinite;
}

.page .portfolio .area .circles li:nth-child(1) {
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.page .portfolio .area .circles li:nth-child(3) {
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}

.page .portfolio .area .circles li:nth-child(4) {
  -webkit-animation-duration: 38s;
          animation-duration: 38s;
}

.page .portfolio .area .circles li:nth-child(5) {
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
}

.page .portfolio .area .circles li:nth-child(6) {
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.page .portfolio .area .circles li:nth-child(7) {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

.page .portfolio .area .circles li:nth-child(8) {
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.page .portfolio .area .circles li:nth-child(9) {
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
}

.page .portfolio .area .circles li:nth-child(10) {
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}

.page .portfolio .area .circles li:nth-child(11) {
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
}

.page .portfolio .area .circles li:nth-child(12) {
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
}

.page .portfolio .main h1 {
  color: #5cba96;
}

.page .portfolio .main h1::before {
  border-bottom: 13px solid #5cba96;
}

.page .portfolio .main-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding-top: 30px;
}

.page .portfolio .main-portfolio .svg-first,
.page .portfolio .main-portfolio .svg-third {
  height: 550px;
  width: 35%;
  position: relative;
  opacity: 0;
  -webkit-animation: fadein-bottom 1.5s 2s ease-out forwards;
          animation: fadein-bottom 1.5s 2s ease-out forwards;
}

.page .portfolio .main-portfolio .svg-first::before,
.page .portfolio .main-portfolio .svg-third::before {
  position: absolute;
  content: "";
  width: 550px;
  height: 400px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  -webkit-animation: change-circle 15s linear infinite;
          animation: change-circle 15s linear infinite;
  background: url(../img/c-work1.png) center center/cover;
  left: -50px;
}

.page .portfolio .main-portfolio .svg-first svg,
.page .portfolio .main-portfolio .svg-third svg {
  position: absolute;
  content: "";
  top: 0;
  z-index: 2;
  -webkit-animation: color-change 30s linear infinite;
          animation: color-change 30s linear infinite;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  left: -50px;
}

.page .portfolio .main-portfolio .svg-third::before {
  background: url(../img/c-work3.png) center center/cover;
}

.page .portfolio .main-portfolio .svg-second,
.page .portfolio .main-portfolio .svg-fourth {
  height: 550px;
  width: 35%;
  position: relative;
  opacity: 0;
  -webkit-animation: fadein-bottom 1.5s 2s ease-out forwards;
          animation: fadein-bottom 1.5s 2s ease-out forwards;
}

.page .portfolio .main-portfolio .svg-second::before,
.page .portfolio .main-portfolio .svg-fourth::before {
  position: absolute;
  content: "";
  width: 550px;
  height: 400px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  -webkit-animation: change-circle 15s linear infinite;
          animation: change-circle 15s linear infinite;
  background: url(../img/c-work2.png) center center/cover;
  right: -50px;
}

.page .portfolio .main-portfolio .svg-second svg,
.page .portfolio .main-portfolio .svg-fourth svg {
  position: absolute;
  content: "";
  top: 0;
  z-index: 2;
  -webkit-animation: color-change 30s linear infinite;
          animation: color-change 30s linear infinite;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  right: -50px;
}

.page .portfolio .main-portfolio .svg-fourth::before {
  background: url(../img/c-work4.png) center center/cover;
}

.page .portfolio .main-portfolio .text-right,
.page .portfolio .main-portfolio .text-left {
  width: 52%;
  font-size: 18px;
  font-weight: normal;
  opacity: 0;
  -webkit-animation: fadein-bottom 1.5s 2.5s ease-out forwards;
          animation: fadein-bottom 1.5s 2.5s ease-out forwards;
}

.page .portfolio .main-portfolio .text-right h4,
.page .portfolio .main-portfolio .text-left h4 {
  font-family: "Bowlby One SC", cursive;
  font-size: 32px;
  padding-bottom: 10px;
  color: #dc4518;
  opacity: 0.8;
}

.page .portfolio .main-portfolio .text-right p,
.page .portfolio .main-portfolio .text-left p {
  width: 75%;
  padding: 20px 0;
}

.page .portfolio .main-portfolio .text-right a,
.page .portfolio .main-portfolio .text-left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .portfolio .main-portfolio .text-right a .circle-site,
.page .portfolio .main-portfolio .text-left a .circle-site {
  width: 80px;
  height: 80px;
  background: #dc4518;
  opacity: 0.8;
  -webkit-animation: blob 10s linear infinite;
          animation: blob 10s linear infinite;
  position: relative;
}

.page .portfolio .main-portfolio .text-right a .circle-site::before,
.page .portfolio .main-portfolio .text-left a .circle-site::before {
  position: absolute;
  content: "→";
  font-size: 40px;
  -webkit-transform: rotate(-45deg) translate(20%, -56%);
          transform: rotate(-45deg) translate(20%, -56%);
  top: 50%;
  left: 50%;
  color: #fff;
}

.page .portfolio .main-portfolio .text-right a .site,
.page .portfolio .main-portfolio .text-left a .site {
  padding-left: 20px;
}

.page .portfolio .main-portfolio .text-left {
  padding-left: 15%;
}

@-webkit-keyframes blob {
  0% {
    border-radius: 36% 64% 62% 38% / 51% 42% 58% 49%;
  }
  30% {
    border-radius: 56% 44% 62% 38% / 64% 44% 56% 36%;
  }
  50% {
    border-radius: 36% 64% 62% 38% / 41% 51% 49% 59%;
  }
  70% {
    border-radius: 54% 46% 67% 33% / 46% 54% 46% 54%;
  }
  80% {
    border-radius: 45% 55% 47% 53% / 46% 61% 39% 54%;
  }
  100% {
    border-radius: 36% 64% 62% 38% / 51% 42% 58% 49%;
  }
}

@keyframes blob {
  0% {
    border-radius: 36% 64% 62% 38% / 51% 42% 58% 49%;
  }
  30% {
    border-radius: 56% 44% 62% 38% / 64% 44% 56% 36%;
  }
  50% {
    border-radius: 36% 64% 62% 38% / 41% 51% 49% 59%;
  }
  70% {
    border-radius: 54% 46% 67% 33% / 46% 54% 46% 54%;
  }
  80% {
    border-radius: 45% 55% 47% 53% / 46% 61% 39% 54%;
  }
  100% {
    border-radius: 36% 64% 62% 38% / 51% 42% 58% 49%;
  }
}

@-webkit-keyframes fadein-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadein-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadein-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 10%;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(720deg);
            transform: translateY(-800px) rotate(720deg);
    opacity: 0.3;
    border-radius: 50%;
  }
}

@keyframes circle {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 10%;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(720deg);
            transform: translateY(-800px) rotate(720deg);
    opacity: 0.3;
    border-radius: 50%;
  }
}

@-webkit-keyframes circle-portfolio {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    -webkit-transform: translateY(-2700px) rotate(1800deg);
            transform: translateY(-2700px) rotate(1800deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

@keyframes circle-portfolio {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    -webkit-transform: translateY(-2700px) rotate(1800deg);
            transform: translateY(-2700px) rotate(1800deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

@-webkit-keyframes circle-service {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    -webkit-transform: translateY(-1600px) rotate(720deg);
            transform: translateY(-1600px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

@keyframes circle-service {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    -webkit-transform: translateY(-1600px) rotate(720deg);
            transform: translateY(-1600px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

@-webkit-keyframes service-pc {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    -webkit-transform: translateY(-1400px) rotate(720deg);
            transform: translateY(-1400px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

@keyframes service-pc {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 10%;
  }
  100% {
    -webkit-transform: translateY(-1400px) rotate(720deg);
            transform: translateY(-1400px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

@-webkit-keyframes change-circle {
  0%,
  100% {
    border-radius: 52% 48% 60% 40% / 38% 54% 46% 62%;
  }
  25% {
    border-radius: 43% 57% 60% 40% / 41% 56% 44% 59%;
  }
  50% {
    border-radius: 27% 73% 41% 59% / 57% 63% 37% 43%;
  }
  75% {
    border-radius: 68% 32% 37% 63% / 61% 38% 62% 39%;
  }
}

@keyframes change-circle {
  0%,
  100% {
    border-radius: 52% 48% 60% 40% / 38% 54% 46% 62%;
  }
  25% {
    border-radius: 43% 57% 60% 40% / 41% 56% 44% 59%;
  }
  50% {
    border-radius: 27% 73% 41% 59% / 57% 63% 37% 43%;
  }
  75% {
    border-radius: 68% 32% 37% 63% / 61% 38% 62% 39%;
  }
}

@-webkit-keyframes color-change {
  0%,
  100% {
    fill: #dc4618ad;
  }
  25% {
    fill: #dc1828ad;
  }
  50% {
    fill: #dc9718ad;
  }
  75% {
    fill: #dcbf18ad;
  }
}

@keyframes color-change {
  0%,
  100% {
    fill: #dc4618ad;
  }
  25% {
    fill: #dc1828ad;
  }
  50% {
    fill: #dc9718ad;
  }
  75% {
    fill: #dcbf18ad;
  }
}

@media screen and (max-width: 1100px) {
  .section .swiper-slide {
    padding-top: 50px;
  }
  .section .swiper-slide .img img {
    width: 90%;
  }
  .section .swiper-slide .png4 {
    padding-top: 40px;
  }
  .section .swiper-slide .svg {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  .section .swiper-slide .svg:hover {
    pointer-events: none;
  }
  .section .swiper-pagination {
    bottom: 60px !important;
  }
  .section .swiper-pagination .swiper-pagination-bullet::before {
    bottom: -10px;
  }
  .section .swiper-pagination .swiper-pagination-bullet::after {
    bottom: -10px;
  }
  .page .profile .main-profile {
    width: 80%;
  }
  .page .profile .main-profile .box-left,
  .page .profile .main-profile .box-right {
    width: 50%;
  }
  .page .profile .main-profile .box-left .trigger,
  .page .profile .main-profile .box-right .trigger {
    width: 50%;
  }
  .page .profile .main-profile .box-left .message,
  .page .profile .main-profile .box-right .message {
    width: 60%;
  }
  .page .profile .main-profile .box-left .left-content::before {
    position: absolute;
    content: "";
    background-color: #35375e;
    height: 2px;
    bottom: 20px;
    width: 73%;
    width: 68%;
  }
  .page .profile .main-profile .box-left .left-content:nth-child(1)::after {
    width: 15%;
    bottom: -3px;
    right: 120px;
  }
  .page .profile .main-profile .box-left .left-content:nth-child(3)::after {
    width: 22%;
    bottom: 54px;
    right: 94px;
  }
  .page .profile .main-profile .box-left .left-content:nth-child(odd)::before {
    width: 60%;
  }
  .page .profile .main-profile .box-right .right-content::before {
    width: 60%;
  }
  .page .profile .main-profile .box-right .right-content:nth-child(1)::after {
    width: 15%;
    bottom: -3px;
    left: 120px;
  }
  .page .profile .main-profile .box-right .right-content:nth-child(2)::after {
    width: 28%;
    bottom: 63px;
    left: 71px;
  }
  .page .profile .main-profile .box-right ul {
    padding-left: 180px;
  }
  .page .profile-img {
    width: 90%;
  }
  .page .service .area .circles {
    height: 1390px;
  }
  .page .service .area .circles li {
    -webkit-animation: service-pc 20s linear infinite;
            animation: service-pc 20s linear infinite;
  }
  .page .service .main-service li {
    width: 530px;
    height: 530px;
  }
  .page .service .main-service li::before {
    top: 10px;
    left: -30px;
    width: 600px;
    height: 600px;
  }
  .page .service .main-service li svg {
    width: 600px;
  }
  .page .service .main-service li .text p {
    width: 50%;
  }
  .page .portfolio .main-portfolio .text-right,
  .page .portfolio .main-portfolio .text-left {
    width: 47%;
  }
  .page .portfolio .main-portfolio .text-left {
    padding-left: 12%;
  }
}

@media screen and (max-width: 1040px) {
  .page .profile .main .box-left .trigger, .page .profile .main .box-right .trigger {
    width: 55%;
  }
  .page .profile .main .box-left .message, .page .profile .main .box-right .message {
    width: 63%;
  }
  .page .profile .main .box-left .left-content:nth-child(1)::after {
    bottom: -2px;
    right: 113px;
  }
  .page .profile .main .box-left .left-content:nth-child(3)::after {
    bottom: 53px;
    right: 89px;
  }
  .page .profile .main .box-right .right-content:nth-child(1)::after {
    bottom: -2px;
    left: 113px;
  }
  .page .profile .main .box-right .right-content:nth-child(2)::after {
    bottom: 61px;
    left: 69px;
  }
  .page .profile .main .box-right ul {
    padding-left: 180px;
  }
  .page-img {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .header-logo {
    width: 25%;
  }
  .section .swiper-slide {
    padding-top: 400px;
  }
  .section .swiper-slide h2 {
    top: 45%;
    font-size: 100px;
  }
  .section .swiper-slide .img {
    top: 25%;
    width: 420px;
    height: 320px;
  }
  .section .swiper-slide .img img {
    width: 100%;
  }
  .section .swiper-slide .png4 {
    padding-top: 40px;
  }
  .section .swiper-slide span {
    top: 48%;
    width: 32%;
    border-bottom: 8px solid #fff;
  }
  .section .swiper-slide h3 {
    font-size: 32px;
    top: 50%;
  }
  .section .swiper-slide .svg {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  .section .swiper-pagination {
    bottom: 100px !important;
  }
  .section .swiper-pagination .swiper-pagination-bullet {
    font-size: 24px;
  }
  .section .swiper-pagination .swiper-pagination-bullet::before {
    bottom: -15px;
  }
  .section .swiper-pagination .swiper-pagination-bullet::after {
    bottom: -15px;
  }
  .page .profile .main h1 {
    padding-top: 100px;
  }
  .page .service .area .circles {
    height: 1290px;
  }
  .page .service .area .circles li {
    -webkit-animation: service-pc 20s linear infinite;
            animation: service-pc 20s linear infinite;
  }
  .page .service .main-service li {
    width: 480px;
    height: 480px;
  }
  .page .service .main-service li::before {
    top: -35px;
    left: -60px;
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
  .page .service .main-service li:nth-child(1)::before {
    left: -40px;
  }
  .page .service .main-service li:nth-child(2)::before {
    left: -45px;
  }
  .page .service .main-service li svg {
    width: 560px;
  }
  .page .service .main-service li .text p {
    width: 50%;
  }
  .page .portfolio .main-portfolio .text-right,
  .page .portfolio .main-portfolio .text-left {
    width: 43%;
  }
  .page .portfolio .main-portfolio .text-left {
    padding-left: 10%;
  }
}

@media screen and (max-width: 834px) {
  .header-logo {
    width: 20%;
  }
  .section .swiper-slide {
    padding-top: 300px;
  }
  .section .swiper-slide h2 {
    top: 48%;
  }
  .section .swiper-slide .img {
    top: 23%;
  }
  .section .swiper-slide .png3 {
    top: 21%;
  }
  .section .swiper-slide .png4 {
    padding-top: 60px;
  }
  .section .swiper-slide span {
    width: 40%;
    top: 52%;
  }
  .section .swiper-slide h3 {
    top: 54%;
  }
  .section .swiper-pagination .swiper-pagination-bullet {
    margin: 0 30px !important;
  }
  .page .header {
    z-index: 10;
  }
  .page .header ul li:nth-child(n + 2):nth-child(-n + 4) {
    display: none;
  }
  .page .profile .main h1 {
    font-size: 80px;
    padding-top: 300px;
    z-index: 5;
  }
  .page .profile .main h1::before {
    border-bottom: 13px solid #35375e;
  }
  .page .profile .main-profile {
    width: 53%;
    margin: 0 auto;
    display: block;
  }
  .page .profile .main-profile .box-left {
    width: 100%;
    margin: 0 auto;
  }
  .page .profile .main-profile .box-right {
    width: 400px;
    margin: 0 auto;
  }
  .page .profile .main-profile .box-left {
    padding: 150px 0 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page .profile .main-profile .box-left_text {
    padding-left: 10px;
    width: 360px;
  }
  .page .profile .main-profile .box-left p {
    width: 150px;
  }
  .page .profile .main-profile .box-right {
    position: absolute;
    top: 12%;
    left: 26%;
    padding: 0;
    opacity: 0;
    -webkit-animation: fadein-bottom 1.5s 2.5s ease-out forwards;
            animation: fadein-bottom 1.5s 2.5s ease-out forwards;
    z-index: 2;
  }
  .page .profile .main-profile .box-right img {
    -webkit-animation: blob 20s infinite;
            animation: blob 20s infinite;
    width: 100%;
  }
  .page .service .area .circles {
    height: 1170px;
  }
  .page .service .main h1 {
    color: #5b72e0;
  }
  .page .service .main h1::before {
    border-bottom: 13px solid #5b72e0;
  }
  .page .service .main-service li {
    width: 420px;
    height: 420px;
    padding-top: 30px;
  }
  .page .service .main-service li::before {
    position: absolute;
    top: -35px;
    width: 450px;
    height: 450px;
    z-index: 3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .page .service .main-service li svg {
    width: 500px;
  }
  .page .service .main-service li .text {
    padding-top: 65px;
    padding-left: 50px;
  }
  .page .service .main-service li .text h4 {
    color: #5b72e0;
    font-size: 28px;
    padding-bottom: 15px;
  }
  .page .service .main-service li .text p {
    width: 40%;
    margin: 0 auto;
    font-size: 15px;
  }
  .page .service .main-service li .text svg {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .page .portfolio .main-portfolio .svg-first,
  .page .portfolio .main-portfolio .svg-third {
    height: 550px;
    width: 35%;
    position: relative;
    opacity: 0;
    -webkit-animation: fadein-bottom 1.5s 2s ease-out forwards;
            animation: fadein-bottom 1.5s 2s ease-out forwards;
    -webkit-transform: scale(1);
            transform: scale(1);
    left: -100px;
  }
  .page .portfolio .main-portfolio .svg-first::before,
  .page .portfolio .main-portfolio .svg-third::before {
    position: absolute;
    content: "";
    width: 550px;
    height: 400px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3;
    -webkit-animation: change-circle 15s linear infinite;
            animation: change-circle 15s linear infinite;
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
    left: 0px;
  }
  .page .portfolio .main-portfolio .svg-first svg,
  .page .portfolio .main-portfolio .svg-third svg {
    position: absolute;
    content: "";
    top: 0;
    z-index: 2;
    -webkit-animation: color-change 30s linear infinite;
            animation: color-change 30s linear infinite;
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
    left: -50px;
  }
  .page .portfolio .main-portfolio .svg-third::before {
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
  }
  .page .portfolio .main-portfolio .svg-second,
  .page .portfolio .main-portfolio .svg-fourth {
    height: 550px;
    width: 35%;
    position: relative;
    opacity: 0;
    -webkit-animation: fadein-bottom 1.5s 2s ease-out forwards;
            animation: fadein-bottom 1.5s 2s ease-out forwards;
  }
  .page .portfolio .main-portfolio .svg-second::before,
  .page .portfolio .main-portfolio .svg-fourth::before {
    position: absolute;
    content: "";
    width: 550px;
    height: 400px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3;
    -webkit-animation: change-circle 15s linear infinite;
            animation: change-circle 15s linear infinite;
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
    right: -80px;
  }
  .page .portfolio .main-portfolio .svg-second svg,
  .page .portfolio .main-portfolio .svg-fourth svg {
    position: absolute;
    content: "";
    top: 0;
    z-index: 2;
    -webkit-animation: color-change 30s linear infinite;
            animation: color-change 30s linear infinite;
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
    right: -100px;
  }
  .page .portfolio .main-portfolio .svg-fourth::before {
    background: url(../img/c-work4.png) center center/cover;
  }
  .page .portfolio .main-portfolio .text-right,
  .page .portfolio .main-portfolio .text-left {
    width: 46%;
  }
  .page .portfolio .main-portfolio .text-right p,
  .page .portfolio .main-portfolio .text-left p {
    width: 80%;
    padding: 20px 0;
  }
  .page .portfolio .main-portfolio .text-left {
    padding-left: 8%;
  }
}

@media screen and (max-width: 768px) {
  .section .swiper-slide h2 {
    top: 50%;
  }
  .section .swiper-slide span {
    top: 54%;
  }
  .section .swiper-slide h3 {
    top: 56%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 30px 40px 0;
  }
  .section .swiper-slide {
    padding-top: 40px;
  }
  .section .swiper-slide h2 {
    font-size: 60px;
    top: 49%;
  }
  .section .swiper-slide .img {
    width: 260px;
    height: 220px;
    top: 20%;
  }
  .section .swiper-slide .png3 {
    top: 19%;
  }
  .section .swiper-slide .png4 {
    padding-top: 40px;
  }
  .section .swiper-slide span {
    width: 50%;
    top: 53%;
    border-bottom: 5px solid #fff;
  }
  .section .swiper-slide h3 {
    font-size: 24px;
    top: 55%;
    letter-spacing: 0.05em;
    width: 85%;
    margin: 0 auto;
  }
  .section .swiper-slide .svg {
    position: absolute;
    content: "";
    top: 38%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
    padding: 0 10px 15px 0;
  }
  .section .swiper-pagination {
    bottom: 80px !important;
  }
  .section .swiper-pagination .swiper-pagination-bullet {
    font-size: 18px;
    padding-bottom: 20px;
    margin: 0 50px !important;
  }
  .section .swiper-pagination .swiper-pagination-bullet::before {
    bottom: 15px;
  }
  .section .swiper-pagination .swiper-pagination-bullet::after {
    bottom: 15px;
  }
  .section .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
    margin: 0 42px !important;
  }
  .section .modalArea .modalContents h3 {
    width: 80%;
  }
  .section .modalArea .modalContents p {
    font-weight: bold;
    padding-bottom: 20px;
  }
  .section .modalArea .modalContents ul li a {
    font-size: 22px;
  }
  .page .header {
    padding: 40px 30px 0;
  }
  .page .header-logo {
    width: 30%;
  }
  .page .profile .main h1 {
    font-size: 60px;
    padding-top: 300px;
    z-index: 5;
  }
  .page .profile .main h1::before {
    border-bottom: 13px solid #35375e;
  }
  .page .profile .main-profile {
    width: 78%;
    margin: 0 auto;
    display: block;
  }
  .page .profile .main-profile .box-left {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
  }
  .page .profile .main-profile .box-right {
    width: 350px;
    margin: 0 auto;
  }
  .page .profile .main-profile .box-left {
    padding: 90px 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page .profile .main-profile .box-left_text {
    padding-left: 10px;
    width: 360px;
  }
  .page .profile .main-profile .box-left p {
    width: 150px;
  }
  .page .profile .main-profile .box-right {
    top: 12%;
    left: 15%;
    z-index: 2;
  }
  .page .profile .main-profile .box-right img {
    -webkit-animation: blob 20s infinite;
            animation: blob 20s infinite;
    width: 100%;
  }
  .page .service .area .circles {
    height: 2010px;
  }
  .page .service .area .circles li {
    -webkit-animation: circle-portfolio 20s linear infinite;
            animation: circle-portfolio 20s linear infinite;
  }
  .page .service .main h1 {
    font-size: 60px;
  }
  .page .portfolio .main h1 {
    font-size: 60px;
  }
  .page .portfolio .main-portfolio {
    display: block;
  }
  .page .portfolio .main-portfolio .svg-first,
  .page .portfolio .main-portfolio .svg-third {
    height: 550px;
    width: 35%;
    position: relative;
    opacity: 0;
    -webkit-animation: fadein-bottom 1.5s 2s ease-out forwards;
            animation: fadein-bottom 1.5s 2s ease-out forwards;
    -webkit-transform: scale(1);
            transform: scale(1);
    left: -100px;
  }
  .page .portfolio .main-portfolio .svg-first::before,
  .page .portfolio .main-portfolio .svg-third::before {
    position: absolute;
    content: "";
    width: 550px;
    height: 400px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3;
    -webkit-animation: change-circle 15s linear infinite;
            animation: change-circle 15s linear infinite;
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
    left: 0px;
  }
  .page .portfolio .main-portfolio .svg-first svg,
  .page .portfolio .main-portfolio .svg-third svg {
    position: absolute;
    content: "";
    top: 0;
    z-index: 2;
    -webkit-animation: color-change 30s linear infinite;
            animation: color-change 30s linear infinite;
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
    left: -50px;
  }
  .page .portfolio .main-portfolio .svg-third::before {
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
  }
  .page .portfolio .main-portfolio .svg-second,
  .page .portfolio .main-portfolio .svg-fourth {
    height: 550px;
    width: 35%;
    position: relative;
    opacity: 0;
    -webkit-animation: fadein-bottom 1.5s 2s ease-out forwards;
            animation: fadein-bottom 1.5s 2s ease-out forwards;
  }
  .page .portfolio .main-portfolio .svg-second::before,
  .page .portfolio .main-portfolio .svg-fourth::before {
    position: absolute;
    content: "";
    width: 550px;
    height: 400px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3;
    -webkit-animation: change-circle 15s linear infinite;
            animation: change-circle 15s linear infinite;
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
    right: -80px;
  }
  .page .portfolio .main-portfolio .svg-second svg,
  .page .portfolio .main-portfolio .svg-fourth svg {
    position: absolute;
    content: "";
    top: 0;
    z-index: 2;
    -webkit-animation: color-change 30s linear infinite;
            animation: color-change 30s linear infinite;
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
    right: -100px;
  }
  .page .portfolio .main-portfolio .svg-fourth::before {
    background: url(../img/c-work4.png) center center/cover;
  }
  .page .portfolio .main-portfolio .text-right,
  .page .portfolio .main-portfolio .text-left {
    width: 46%;
  }
  .page .portfolio .main-portfolio .text-right p,
  .page .portfolio .main-portfolio .text-left p {
    width: 80%;
    padding: 20px 0;
  }
  .page .portfolio .main-portfolio .text-left {
    padding-left: 8%;
  }
}

@media screen and (max-width: 414px) {
  .section .swiper-slide h2 {
    font-size: 55px;
    top: 50%;
  }
  .section .swiper-slide .img {
    top: 24%;
  }
  .section .swiper-slide .png3 {
    top: 23%;
  }
  .section .swiper-slide span {
    width: 48%;
    top: 54%;
  }
  .section .swiper-slide h3 {
    top: 56%;
  }
  .section .swiper-slide .svg {
    top: 40%;
  }
  .section .swiper-pagination .swiper-pagination-bullet {
    margin: 0 35px !important;
  }
  .section .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
    margin: 0 28px !important;
  }
}

@media screen and (max-width: 393px) {
  .header-logo {
    width: 25%;
  }
  .section .swiper-slide h2 {
    font-size: 50px;
  }
  .section .swiper-slide .svg {
    top: 43%;
    -webkit-transform: translate(-50%, -50%) scale(0.85);
            transform: translate(-50%, -50%) scale(0.85);
  }
  .section .swiper-slide h3 {
    font-size: 22px;
    width: 85%;
  }
  .section .swiper-slide .swiper-pagination {
    margin: 0 40px !important;
  }
  .section .swiper-slide .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
    margin: 0 35px !important;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 30px 30px 0;
  }
  .header-logo {
    width: 30%;
  }
  .section .swiper-slide h2 {
    font-size: 40px;
    top: 48%;
  }
  .section .swiper-slide .img {
    width: 240px;
    height: 200px;
    top: 20%;
  }
  .section .swiper-slide .png4 {
    padding-top: 40px;
  }
  .section .swiper-slide span {
    width: 34%;
    top: 51%;
  }
  .section .swiper-slide h3 {
    font-size: 20px;
    top: 53%;
  }
  .section .swiper-slide .svg {
    top: 37%;
    -webkit-transform: translate(-50%, -50%) scale(0.75);
            transform: translate(-50%, -50%) scale(0.75);
  }
}
/*# sourceMappingURL=circle.css.map */